{% extends "base.html" %}
{% block title %}Proveedores{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<h1>Proveedores</h1>
<button class="btn btn-primary toggle-sidebar-btn position-absolute top-0 end-0 d-md-none"><i
    class="fas fa-bars"></i></button>
<a href="/proveedores" class="btn btn-red">Volver a Habilitados</a>

<!-- Formulario de búsqueda -->
<form id="search-form" class="mb-3 mt-3">
    <div class="input-group">
        <input type="text" id="search-input" class="form-control" placeholder="Buscar proveedor por nombre" aria-label="Buscar proveedor">
    </div>
</form>

<!-- Contenedor para las sugerencias -->
<div id="suggestions" class="list-group" style="display: none;"></div>

<div class="custom-grid-container">
    {% for proveedor in proveedores %}
    <div class="custom-card" data-id="{{proveedor._id}}">
        <div class="custom-card-summary">
            <strong>ID:&nbsp;</strong>{{proveedor._id}}
            <strong>&nbsp;Nombre:&nbsp;</strong>{{ proveedor.nombre }}
            <h5><strong>Ver Mas:</strong> <i class="fas fa-angle-down"></i></h5>
        </div>
        <div class="custom-card-details" id="details-{{ proveedor._id }}" style="display: none;">
            <p><strong>ID:&nbsp;</strong>{{proveedor._id}}</p>
            <p><strong>Numero:&nbsp;</strong>{{ proveedor.nombre }}</p>
            <p><strong>Tipo:&nbsp;</strong>{{ proveedor.telefono }}</p>
            <p><strong>Estado:&nbsp;</strong>{{ proveedor.correo }}</p>
            <form action="/proveedores/habilitar/{{ proveedor._id }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-red">Habilitar</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% if not proveedores %}
    <p>Aun no se han registrado proveedores</p>
    {% endif %}
</div>

<script>
    document.getElementById('search-input').addEventListener('input', function() {
        const query = this.value;

        if (query.length > 0) {
            fetch(`/proveedores/buscar?nombre=${query}`)
                .then(response => response.json())
                .then(data => {
                    const suggestions = document.getElementById('suggestions');
                    suggestions.innerHTML = ''; // Limpiar sugerencias anteriores
                    if (data.length > 0) {
                        suggestions.style.display = 'block'; // Mostrar sugerencias
                        data.forEach(proveedor => {
                            const form = document.createElement('form');
                            form.method = 'POST'; // Establece el método a POST
                            form.action = `/proveedores/habilitar/${proveedor.id}`; // URL a la que se enviará el formulario
                            form.className = 'list-group-item list-group-item-action'; // Clases para estilos

                            const button = document.createElement('button');
                            button.type = 'submit'; // Establece el tipo de botón a submit
                            button.textContent = proveedor.nombre; // Texto del botón
                            button.className = 'btn btn-danger'; // Clases para estilos, puedes ajustar según necesites

                            // Agrega el botón al formulario
                            form.appendChild(button);
                            
                            // Agrega el formulario a las sugerencias
                            suggestions.appendChild(form);
                        });
                    } else {
                        suggestions.style.display = 'none'; // Ocultar si no hay sugerencias
                    }
                });
        } else {
            document.getElementById('suggestions').style.display = 'none'; // Ocultar si no hay texto
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        const tarjetas = document.querySelectorAll('.custom-card');

        tarjetas.forEach(tarjeta => {
        tarjeta.addEventListener('click', function() {
            const id = this.dataset.id; 
            const detailsDiv = document.getElementById(`details-${id}`); 

            if (detailsDiv.style.display === "none" || detailsDiv.style.display === "") {
            detailsDiv.style.display = "block";
            } else {
            detailsDiv.style.display = "none";
            }
        });
        });
    });
</script>
{% endblock %}