
.img-rectangulo {
    width: auto;
}
.img-cuadrado {
    width: auto;
    width: 450px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .img-rectangulo {
        width: 350px;
    }
    .img-cuadrado {
        width: 370px;
        ;
    }
}
input{
    width: 120px;
}
