{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container mt-3">
            {% for msg in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


<div class="container">

    {% if session['email'] %}
        <h3>Bienvenido, {{ session['email'] }}</h3>
    {% else %}
        <h3>Por favor, inicia sesión</h3>
    {% endif %}

    <h1>Gestión de Clientes</h1>

    <!-- <button class="btn btn-outline-dark" id="btnAgregarCliente">Agregar Cliente</button> -->

    <div id="formularioCliente"></div>
        <h2>Registrar Nuevo Cliente</h2>
        <form action="{{ url_for('cliente_blueprint.clientesCrud') }}" method="POST">
            <input type="hidden" name="cliente_id" value="{{ cliente.idcliente if cliente else '' }}">
    
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="nombre" 
                    name="nombre" 
                    value="{{ cliente.nombre if cliente else '' }}" 
                    required 
                    minlength="3" 
                    maxlength="30"
                    title="El nombre debe tener al menos 3 caracteres." 
                    placeholder="Ingresa el nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="apellido" 
                    name="apellido" 
                    value="{{ cliente.apellido if cliente else '' }}" 
                    required 
                    minlength="3" 
                    maxlength="30"
                    title="El apellido debe tener al menos 3 caracteres." 
                    placeholder="Ingresa el apellido">
            </div>
            <div class="form-group">
                <label for="carnet">Carnet:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="carnet" 
                    name="carnet" 
                    value="{{ cliente.carnet if cliente else '' }}" 
                    required 
                    minlength="7" 
                    maxlength="9"
                    title="El carnet debe contener de 7 a 9 dígitos." 
                    placeholder="Ejemplo: 123456789">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input 
                    type="tel" 
                    class="form-control" 
                    id="telefono" 
                    name="telefono" 
                    value="{{ cliente.telefono if cliente else '' }}" 
                    required 
                    pattern="\d{8}" 
                    maxlength="8" 
                    title="El teléfono debe contener 8 dígitos." 
                    placeholder="Ejemplo: 12345678">
            </div>        
            <div class="form-group">
                <label for="tipo_suscripcion">Tipo de Suscripción:</label>
                <select 
                    class="form-control" 
                    id="tipo_suscripcion" 
                    name="tipo_suscripcion" 
                    required 
                    title="Selecciona el tipo de suscripción.">
                    <option value="membresia" {% if cliente and cliente.tipocliente == 'membresia' %}selected{% endif %}>Membresía</option>
                    <option value="sesion" {% if cliente and cliente.tipocliente == 'sesion' %}selected{% endif %}>Sesión</option>
                </select>
            </div>
            <div class="form-group" id="membresia-options" style="display: none;">
                <label for="membresia_id">Membresía (si aplica):</label>
                <select class="form-control" id="membresia_id" name="membresia_id">
                    {% for membresia in membresias %}
                        {% if membresia.habilitado %}
                            <option value="{{ membresia.idmembresia }}" {% if cliente and cliente.membresia_id == membresia.idmembresia %}selected{% endif %}>
                                {{ membresia.tipomembresia }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="metodo_pago">Método de Pago:</label>
                <select 
                    class="form-control" 
                    id="metodo_pago" 
                    name="metodo_pago" 
                    required 
                    title="Selecciona un método de pago.">
                    <option value="qr">Pago QR</option>
                    <option value="efectivo">Pago en efectivo</option>
                    <option value="transferencia">Pago transferencia</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>


    <h2>Clientes</h2>
    <!--<table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Carnet</th>
                <th>Teléfono</th>
                <th>Tipo de Membresía</th>
                <th>Pago</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente, tipomembresia, estado_pago in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.carnet }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ tipomembresia if tipomembresia else 'Sesion' }}</td>
                    <td>
                        {% if estado_pago == "Pendiente" %}
                            <form action="{{ url_for('cliente_blueprint.actualizar_estado_pago') }}" method="POST">
                                <input type="hidden" name="idcliente" value="{{ cliente.idcliente }}">
                                <input type="hidden" name="estado" value="Pagado">
                                <button type="submit" class="btn btn-secondary">Pendiente</button>
                            </form>
                        {% else %}
                            <span class="btn btn-info">Pagado</span>
                        {% endif %}
                    </td>
                    <td>{% if cliente.activo == True %}
                        <span class="btn btn-success">Activo</span>
                    {% else %}
                        <span class="btn btn-danger">Vencido</span>
                    {% endif %}</td>
                    <td>
                        <a href="{{ url_for('cliente_blueprint.editarCliente', id=cliente.idcliente) }}" class="btn btn-warning" id="btnEditarCliente">Editar</a>
                        <form action="{{ url_for('cliente_blueprint.desactivarCliente', id=cliente.idcliente) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Desactivar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>-->
    <div class="custom-grid-container">
        {% for cliente, tipomembresia, estado_pago in clientes %}    
            <div class="custom-card">
                <div class="custom-card-summary">
                    <p> <strong>{{ cliente.nombre }} {{ cliente.apellido }}</strong></p>
                    <p><strong>Carnet:</strong> {{ cliente.carnet }}</p>
                    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
                    <p><strong>Tipo de Membresía:</strong> {{ tipomembresia if tipomembresia else 'Sesión' }}</p>
                    <p><strong>Estado:</strong> {{ 'Activo' if cliente.activo else 'Vencido' }}</p>
                    <p><strong>Estado de Pago:</strong></p>
                    <td>
                        {% if estado_pago == "Pendiente" %}
                            <form action="{{ url_for('cliente_blueprint.actualizar_estado_pago') }}" method="POST">
                                <input type="hidden" name="idcliente" value="{{ cliente.idcliente }}">
                                <input type="hidden" name="estado" value="Pagado">
                                <button type="submit" class="btn btn-secondary">Pendiente</button>
                            </form>
                        {% else %}
                            <span class="btn btn-info">Pagado</span>
                        {% endif %}
                    </td>
                    <div class="custom-card-actions">
                        <a href="{{ url_for('cliente_blueprint.editarCliente', id=cliente.idcliente) }}" class="btn btn-dark">Editar</a>
                        <form action="{{ url_for('cliente_blueprint.desactivarCliente', id=cliente.idcliente) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-red">Desactivar</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    const btnAgregarCliente = document.getElementById('btnAgregarCliente');
    const btnEditCliente = document.getElementById('btnEditarCliente');
    const formularioCliente = document.getElementById('formularioCliente');
    const tipoSuscripcion = document.getElementById('tipo_suscripcion');
    const membresiaOptions = document.getElementById('membresia-options');

    


    document.getElementById('btnAgregarCliente').addEventListener('click', function () {
        const formularioCliente = document.getElementById('formularioCliente');
        formularioCliente.style.display = formularioCliente.style.display === 'none' ? 'block' : 'none';
    });

    tipoSuscripcion.addEventListener('change', function () {
        if (this.value === 'membresia') {
            membresiaOptions.style.display = 'block';
        } else {
            membresiaOptions.style.display = 'none';
        }
    });

    if (tipoSuscripcion.value === 'membresia') {
        membresiaOptions.style.display = 'block';
    }
</script>
{% endblock %}
