{% extends "base.html" %}
{% block title %}Compras{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p class="alert alert-info">{{ msg }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<h3>Gestion de compras</h3>

<br>

<div class="row">
  {% if rol == "Administrador" %}
  <div class="col-md-3">
    <div class="card custom-card-info mb-3">
      <div class="card-header">Ventas</div>
      <div class="card-body">
        <h5 class="card-title">Todas las ventas</h5>
        {% if total_compras %}
          <p class="card-text">Total de ventas: {{ total_compras }} bs.</p>
        {% else %}
          <p class="card-text">Aún no hay ventas registradas.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-md-4">
    <div class="card custom-card-info mb-3">
      <div class="card-header">Ventas</div>
      <div class="card-body">
        <h5 class="card-title">Tus Ventas</h5>
        {% if total_compras_individual %}
          <p class="card-text">Tus ventas: {{ total_compras_individual }} bs.</p>
        {% else %}
          <p class="card-text">Aún no registraste compras</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card custom-card-info mb-3">
      <div class="card-header">Productos</div>
      <div class="card-body">
        <h5 class="card-title">Producto más vendido</h5>
        <p class="card-text">{{ producto_mas_comprado.nombre }} ({{ producto_mas_comprado.total_compras }} u.).</p>
      </div>
    </div>
  </div>
</div>

<br>

<a class="btn-red" href="/compras/agregar"><i class="fas fa-shopping-cart"></i> Registrar compra</a>
  
<a class="btn-red" href="/imprimir"><i class="fa fa-print"></i> Imprimir</a>

<br><br>

<div class="filtro_compras">
  <form method="POST" action="/compras">
    <div class="row align-items-center">
      
      {% if rol == "Administrador" %}
      <div class="col-12 col-md-3 mb-2">
        <h5 for="empleado_id">Filtrar por empleado</h5>
        <select name="empleado_id" id="empleado_id" class="form-control">
          <option value="">Selecciona un empleado</option>
          {% for empleado in empleados %}
            <option value="{{ empleado.idempleado }}" {% if empleado.idempleado == empleado_id %}selected{% endif %}>{{ empleado.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      
      <div class="col-12 col-md-3 mb-2">
        <h5 for="cliente_id">Filtrar por cliente</h5>
        <select name="cliente_id" id="cliente_id" class="form-control">
          <option value="">Selecciona un cliente</option>
          {% for cliente in clientes %}
            <option value="{{ cliente.idcliente }}" {% if cliente.idcliente == cliente_id %}selected{% endif %}>{{ cliente.nombre }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-12 col-md-3 mb-2">
        <h5 for="fecha_inicio">Fecha Inicio:</h5>
        <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control" value="{{ fecha_inicio or '' }}">
      </div>
      
      <div class="col-12 col-md-3 mb-2">
        <h5 for="fecha_fin">Fecha Fin:</h5>
        <input type="date" name="fecha_fin" id="fecha_fin" class="form-control" value="{{ fecha_fin or '' }}">
      </div>

      <div class="col-12  d-flex justify-content-end">
        <button type="submit" class="btn-red">Filtrar</button>
        <a href="/compras" class="btn-red">Limpiar</a>
      </div>
    </div>
    
  </form>
</div>


<br>

<div class="custom-grid-container">
  {% for compra in compras %}
  <div class="custom-card" data-id="{{compra.idcompra}}">
      <div class="custom-card-summary">
          <strong>Fecha:&nbsp;</strong>{{compra.fechacompra}}
          <strong>&nbsp;Hora:&nbsp;</strong>{{ compra.horacompra }}
          <strong>&nbsp;Total:&nbsp;</strong>{{ compra.total }}
          <p><strong>Empleado:</strong>&nbsp;{{compra.nombreempleado}}</p>
          <p><strong>Cliente:</strong>&nbsp;{{compra.nombrecliente}}</p>
          <p><strong>Método de pago:</strong>&nbsp;{{compra.metodopago}}</p>
          <h5><strong>Productos</strong> <i class="fas fa-angle-down"></i></h5>
      </div>
      <div class="custom-card-details" id="details-{{ compra.idcompra }}" style="display: none;"></div>
  </div>
  {% endfor %}
  {% if not compras %}
  <p>Aun no se han registrado compras</p>
  {% endif %}
</div>






<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tarjetas = document.querySelectorAll('.custom-card');

    tarjetas.forEach(tarjeta => {
      tarjeta.addEventListener('click', function() {
        const idcompra = this.dataset.id; 
        const detailsDiv = document.getElementById(`details-${idcompra}`); 

        if (detailsDiv.style.display === "none" || detailsDiv.style.display === "") {
          detailsDiv.style.display = "block";

          fetch(`/compras/detallecompras/${idcompra}`)
            .then(response => {
              if (!response.ok) {
                throw new Error("Error al obtener los datos");
              }
              return response.json();
            })
            .then(data => {
              if (!data.resultados || !Array.isArray(data.resultados)) {
                throw new Error("Datos inválidos recibidos");
              }

              const detallesHtml = data.resultados.map(detalle => `
                            <p><strong>Producto:</strong> ${detalle.producto}</p>
                            <p><strong>Cantidad:</strong> ${detalle.cantidad}</p>
                            <p><strong>Subtotal:</strong> ${detalle.subtotal}</p>
                            <hr>
                        `).join('');
              detailsDiv.innerHTML = detallesHtml;
            })
            .catch(error => {
              console.error("Hubo un problema con la solicitud:", error);
              detailsDiv.innerHTML = `<p>Error al cargar los detalles.</p>`;
            });
        } else {
          detailsDiv.style.display = "none";
        }
      });
    });
  });




  
</script>
<script>
  window.onload = function() {
      // Verificar si hay contenido para imprimir
      const contenidoTabla = localStorage.getItem('contenidoTabla');
      if (contenidoTabla) {
          // Mostrar el contenido en el contenedor oculto
          document.getElementById('contenedorImpresion').innerHTML = contenidoTabla;

          // Crear una nueva ventana para la impresión
          var ventanaImpresion = window.open('', '', 'width=800,height=600');
          ventanaImpresion.document.write('<html><head><title>Impresión</title></head><body>');
          ventanaImpresion.document.write(document.getElementById('contenedorImpresion').innerHTML); // Contenido a imprimir
          ventanaImpresion.document.write('</body></html>');
          ventanaImpresion.document.close(); // Cerrar el documento HTML para que se renderice

          // Esperar a que la ventana de impresión esté lista
          ventanaImpresion.focus();
          ventanaImpresion.print(); // Mostrar el cuadro de impresión
          ventanaImpresion.onafterprint = function() {
              ventanaImpresion.close(); // Cerrar la ventana de impresión
          };

          // Limpiar el contenido de localStorage
          localStorage.removeItem('contenidoTabla');
      }
  }
</script>
  
{% endblock %}