<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPENG GYM</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Unlock&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <body>
    <section class="header" id="home">
        <nav>
            <a href="inicio.html"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times-circle" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#maquinas">MÁQUINAS</a></li>
                    <li><a href="#eventos">EVENTOS</a></li>
                    <li><a href="#contact">SOBRE NOSOTROS</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>OPENGYM</h1>
            <p>BIENVENIDO AL PORTAL DE ADMINISTRACIÓN</p>
            <a href="/login" class="sesion-btn">INICIAR SESIÓN</a>
        </div>
    </section>
    
    <!--Mensajes-->
    <section class="course" id="about">
        <h1>ACERCA DEL GIMNASIO</h1>
        <p class="message">VISIÓN Y VALORES DEL GIMNASIO</p>

        <div class="row">
            <div class="course-col">
                <h3>MISIÓN</h3>
                <p>Bienvenido a OPENGYM, donde cada día nos esforzamos por brindar el mejor ambiente para que nuestros miembros alcancen sus metas de salud y bienestar. Nuestro equipo está aquí para apoyar, inspirar y guiar a cada persona en su camino hacia una vida más activa y saludable.</p>
            </div>
            <div class="course-col">
                <h3>COMUNIDAD Y EQUIPO</h3>
                <p>Somos más que un gimnasio; somos una comunidad que crece junta. Cada uno de nuestros entrenadores, instructores y empleados es una pieza fundamental en la construcción de un ambiente seguro y motivador, donde todos pueden encontrar su lugar y avanzar hacia un mejor estilo de vida.</p>
            </div>
            <div class="course-col">
                <h3>CALIDAD Y COMPROMISO</h3>
                <p>En OPENGYM, creemos en la importancia de la calidad en cada detalle. Desde el equipo de última generación hasta el servicio personalizado de nuestros profesionales, nuestro compromiso es brindar una experiencia excepcional. Cada empleado es clave para que nuestros clientes vivan un servicio de calidad en cada visita.</p>
            </div>
        </div>
    </section>

    <!----------- maquinas ---------->
    <section class="maquinas" id="maquinas">
        <h1>NUESTRAS MÁQUINAS</h1> 
        <p class="message">MÁQUINAS DE FUERZA PARA TREN SUPERIOR</p>
        <div class="row">
            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/presspecho.png') }}" alt="">
                <div class="layer">
                    <h3>PRESS DE PECHO</h3>
                </div>
            </div>

            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/hombros.png') }}" alt="">
                <div class="layer">
                    <h3>PRESS DE HOMBROS</h3>
                </div>
            </div>

            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/pulldown.png') }}" alt="">
                <div class="layer">
                    <h3>PULL-DOWN DE DORSALES</h3>
                </div>
            </div>
        </div>


        <div class="row" >
            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/jalonRemo.png') }}" alt="">
                <div class="layer">
                    <h3>MÁQUINA DE REMO</h3>
                </div>
            </div>

            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/bicepYtriceps.png') }}" alt="">
                <div class="layer">
                    <h3>MÁQUINA DE BICEPS Y TRICEPS</h3>
                </div>
            </div>

            <div class="maquinas-col">
                <img src="{{ url_for('static', filename='images/Maquinas/pectorales.png') }}" alt="">
                <div class="layer">
                    <h3>MÁQUINAS DE PECTORALES</h3>
                </div>
            </div>
        </div>

        <button class="btnBack" onclick="window.location.href='#home'">Volver al inicio</button>

    </section>

    <!------Eventos------>

    <section class="events"  id="eventos">
        <h1>EVENTOS</h1>
        <p class="message">PREPARATE PARA NUESTROS PROXIMOS EVENTOS.</p>

        <div class="row">
            <div class="events-col">
                <img src="{{ url_for('static', filename='images/eventos/hallowen.jpg') }}" alt="">
                <h3>🎃 Entrenamiento de Halloween: Noche de Espantos y Cardio</h3>
                <p>Únete a nuestro entrenamiento especial de Halloween, ¡donde el ejercicio se vuelve espeluznante! Ven disfrazado y participa en desafíos de cardio, pesas y resistencia con temática de Halloween. Premios para los mejores disfraces</p>
            </div>

            <div class="events-col">
                <img src="{{ url_for('static', filename='images/eventos/navidad.png') }}" alt="">
                <h3>🎅 Entrenamiento Navideño: 12 Días de Fitness</h3>
                <p>Mantente en forma durante las fiestas con nuestro desafío ‘12 Días de Fitness’. Cada día trae una nueva rutina y un objetivo especial para que termines el año con energía. Participa en cada sesión y recibe recompensas navideñas</p>
            </div>

            <div class="events-col">
                <img src="{{ url_for('static', filename='images/eventos/añoNuevo.png') }}" alt="">
                <h3>🌟 Entrenamiento Especial de Fin de Año</h3>
                <p>Despide el año en buena forma con nuestra última clase del año. Ejercicios variados, energía positiva y un brindis saludable para terminar el año. ¡Prepárate para recibir el próximo con fuerza y motivación!</p>
            </div>
        </div>

        <button class="btnBack" onclick="window.location.href='#home'">Volver al inicio</button>
    </section>


    <section class="footer" id="contact">
        <h4>NUESTRAS REDES SOCIALES</h4>
        <div class="icons">
            <i class="fa fa-facebook"></i> 
            <i class="fa fa-instagram"></i>
            <i class="fa fa-whatsapp"></i>
            <i class="fa fa-phone"></i>
        </div>


        <h4>UBICACIÓN</h4>
        <p>Encuentra nuestra sucursal de Miraflores. Av. Saavedra, edificio Cristembo Nro 1948 Piso 1.</p>
        <div class="ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d239.09195766276383!2d-68.1224153504468!3d-16.50228635267571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbo!4v1730884828736!5m2!1sen!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    

<script>

    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.left = "0";
    } 
    function hideMenu(){
        navLinks.style.left = "-200px";
    }
</script>

</body>
</html>