{% extends "base.html" %}
{% block title %}Reporte Pagos{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}
<div class="container mt-4">
    <h1>Reporte de Pagos</h1>

    <div class="row">
        {% if pagos_hoy %}
            {% for tipo, total, cantidad in pagos_hoy %}
            <div class="col-md-3">
                <div class="card custom-card-info mb-3">
                    <div class="card-header">{{ tipo or 'Sin Membresía' }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Total: {{ total | round(2) }} Bs</h5>
                        <p class="card-text">Pagos registrados: {{ cantidad }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-muted text-center">No hay pagos registrados en el rango de fechas seleccionado.</p>
            </div>
        {% endif %}
    </div>
    
    
    

    <form method="POST">
        <div class="row align-items-center">
            <div class="col-12 col-md-3 mb-2">
                <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}">
            </div>
            <div class="col-12 col-md-3 mb-2">
                <label for="fecha_fin" class="form-label">Fecha Fin</label>
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}">
            </div>
            <div class="col-12 col-md-3 mb-2">
                <button type="submit" class="btn-red">Filtrar</button>
            </div>
        </div>
    </form>
    
    

    <!-- <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Membresía</th>
                <th>Monto</th>
                <th>Estado</th>
                {% if rol == 'administrador' %}
                <th>Registrado por</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
            <tr>
                <td>{{ pago.fecha }}</td>
                <td>{{ pago.nombre }} {{ pago.apellido }}</td>
                <td>{{ pago.tipomembresia or "N/A" }}</td>
                <td>{{ pago.monto | round(2) }}</td>
                <td>{{ pago.estado }}</td>
                {% if rol == 'administrador' %}
                <td>{{ pago.idempleado }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table> -->


    <div class="custom-grid-container">
        {% for pago in pagos %}
                <div class="custom-card">
                    <div class="custom-card-summary">
                        <p><strong>Fecha:</strong> {{ pago.fecha }}</p>
                        <p> <strong>{{ pago.nombre }} {{ pago.apellido }}</strong></p>
                        <p><strong>Tipo membresia: </strong> {{ pago.tipomembresia or "N/A" }}</p>
                        <p><strong>Monto:</strong> {{ pago.monto }} Bs</p>
                        {% if rol == 'administrador' %}
                        <p><strong>Id Empleado:</strong> {{ pago.idempleado }}</p>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}