{% extends "base.html" %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
<form action="/password" method="POST" class="form mt-3" onsubmit="return validatePasswords()">
    <h2>CAMBIA TU CONTRASEÑA</h2>

    <input type="hidden" id="idemp" name="idemp" class="form-control mt-2" placeholder="Introduce tu nueva contraseña" required value="{{ empleado.idempleado }}"/>
    <input type="password" id="pass1" name="pass1" class="form-control mt-2" placeholder="Introduce tu nueva contraseña" required />
    <input type="password" id="pass2" name="pass2" class="form-control mt-2" placeholder="Vuelve a introducir tu nueva contraseña" required />

    <div id="password-error" style="color: red; display: none;"></div>
    
    <input type="submit" value="Finalizar" class="btn btn-dark mt-2" />
</form>

<script>
    function validatePasswords() {
        const pass1 = document.getElementById('pass1').value;
        const pass2 = document.getElementById('pass2').value;
        const errorElement = document.getElementById('password-error');

        if (pass1 !== pass2) {
            errorElement.textContent = 'Las contraseñas no coinciden.';
            errorElement.style.display = 'block';
            return false;
        }

        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        if (!passwordRegex.test(pass1)) {
            errorElement.textContent = 'La contraseña debe tener al menos 8 caracteres, incluyendo un número, una letra mayúscula, una letra minúscula y un carácter especial.';
            errorElement.style.display = 'block';
            return false;
        }

        errorElement.style.display = 'none';
        return true;
    }
</script>
{% endblock %}
