{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="alert alert-info">{{msg}}</p>
        {% endfor%}
    {% endif %}
{% endwith %}
<br><h3>Gestion de productos</h3><br>
<form action="/productos" method="post" class="form mt-3">
    <input type="hidden" name="producto_id" class="form-control mt-2" value="{{ producto._id if producto else '' }}">
    <input type="text" name="nombreProduc" class="form-control mt-2" placeholder="Nombre del Producto" value="{{ producto.nombre if producto else '' }}" required>
    <input type="hidden" name="precioProduc" class="form-control mt-2" placeholder="Precio del Producto" value="{{ producto.preciov if producto else 0 }}" required>
    <input type="hidden" name="stockProduc"  class="form-control mt-2" placeholder="Stock del Producto" value="{{ producto.stock if producto else 0 }}" required>
    <input type="submit" class="btn btn-success mt-2" value="{{ 'Actualizar' if producto else 'Añadir' }}"/>
</form>


<div class="custom-grid-container">
    {% for producto in productos %}
    <div class="custom-card" data-id="{{ producto._id }}">
      <div class="custom-card-summary">
        <p><strong>ID:</strong>&nbsp;{{ producto._id }}</p>
        <p><strong>Nombre:</strong>&nbsp;{{ producto.nombre }}</p>
        <p><strong>Precio:</strong>&nbsp;{{ producto.preciov }}</p>
        <p><strong>Stock:</strong>&nbsp;{{ producto.stock }}</p>
      </div>
      <div class="custom-card-estado">
        <a href="/productos/editar/{{ producto._id }}" class="btn btn-dark">Editar</a>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if not productos %}
  <p>Aún no se han registrado productos</p>
  {% endif %}
  
{% endblock %}