{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p class="alert alert-info">{{msg}}</p>
        {% endfor%}
    {% endif %}
{% endwith %}
<br><br>
<form action="/productos" method="post" class="form mt-3">
    <input type="hidden" name="producto_id" class="form-control mt-2" value="{{ producto._id if producto else '' }}">
    <input type="text" name="nombreProduc" class="form-control mt-2" placeholder="Nombre del Producto" value="{{ producto.nombre if producto else '' }}" required>
    <input type="text" name="precioProduc" class="form-control mt-2" placeholder="Precio del Producto" value="{{ producto.preciov if producto else '' }}" required>
    <input type="number" name="stockProduc"  class="form-control mt-2" placeholder="Stock del Producto" value="{{ producto.stock if producto else '' }}" required>
    <input type="submit" class="btn btn-success mt-2" value="{{ 'Actualizar' if producto else 'Añadir' }}"/>
</form>


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto._id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.preciov }}</td>
            <td>{{ producto.stock }}</td>
            <td>
                
                <a href="/productos/editar/{{ producto._id }}" class="btn btn-dark">Editar</a>
                <form action="/productos/eliminar/{{ producto._id }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}