{% extends "base.html" %}
{% block title %}Comprar Maquinas{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p class="alert alert-info">{{msg}}</p>
{% endfor%}
{% endif %}
{% endwith %}
<h1>Compras de Maquinas</h1>
<button
    class="btn btn-primary toggle-sidebar-btn position-absolute top-0 end-0 d-md-none"><i
        class="fas fa-bars"></i></button>
        {% if compras %}
            {% for compra in compras %}
                <div class="dynamic-div" data-id="{{ compra.idcompra }}" data-name="{{ compra.proveedor }}">
                    <div class="summary">
                        <strong>ID Compra:&nbsp;</strong>{{ compra.idcompra }}<strong>&nbsp;Proveedor:&nbsp;</strong>{{ compra.proveedor }}
                        <strong>&nbsp;Total:&nbsp;</strong>{{ compra.Gastos }}<strong>&nbsp;Fecha:&nbsp;</strong>{{ compra.fecha }}
                    </div>
                    <div class="details">
                        <h3>Detalles de compra:&nbsp;{{ compra.idcompra }}</h3>
                        <h4>Fecha:&nbsp;{{ compra.fecha }}
                        Proveedor:&nbsp;{{ compra.proveedor }}</h4>
                    {% for detalle in detalleCompras %}
                        {% if detalle.idcompra == compra.idcompra %}
                            <p><strong>Maquina:&nbsp;</strong>{{ detalle.nombre }}:
                            &nbsp;{{ detalle.codigo }}&nbsp;<strong>Cantidad:&nbsp;</strong>{{ detalle.total }}</p>
                            <p><strong>Tipo&nbsp;</strong>{{ detalle.tipo }}</p>
                            <p><strong>Subtotal&nbsp;</strong>{{ detalle.gastos }}</p>
                            <p><strong>Estado&nbsp;</strong>{{ detalle.estado }}
                            {% if detalle.estado == "Comprado" %}
                            <a href="/confirmarEntregaDetalle/{{ detalle.iddetalle }}" class="btn btn-dark">Confirmar Entrega</a>
                            {% endif %}</p>
                            <a href="/verDetalleCompra/{{ detalle.iddetalle }}" class="btn btn-dark">Ver Mas</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay compras registradas.</p>
        {% endif %}
<script>
    document.querySelector('.toggle-sidebar-btn').addEventListener('click', function() {
        document.querySelector('.sidebar').classList.toggle('expanded');
    });

    document.querySelectorAll('.dynamic-div').forEach(function(div) {
        div.addEventListener('click', function() {
            div.classList.toggle('expanded');
        });
    });

    function handleResize() {
        if (window.innerWidth <= 768) {
            document.querySelector('.sidebar').classList.add('collapsed');
        } else {
            document.querySelector('.sidebar').classList.remove('collapsed');
        }
    }

    window.addEventListener('resize', handleResize);
    window.addEventListener('load', handleResize);
</script>
{% endblock %}