{% extends "base.html" %}
{% block title %}Comprar Maquinas{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor%}
{% endif %}
{% endwith %}
<h1>Maquinas</h1>
<button
    class="btn btn-primary toggle-sidebar-btn position-absolute top-0 end-0 d-md-none"><i
        class="fas fa-bars"></i></button>
{% for maquina in maquinas %}
<div class="dynamic-div" data-id="{{maquina._id}}" data-name="Elemento 1">
    <div class="summary">
        <strong>ID:&nbsp;</strong>{{maquina._id}}<strong>&nbsp;Tipo:&nbsp;</strong>{{maquina.tipo }}
        <strong>&nbsp;Nombre:&nbsp;</strong>{{maquina.nombre }}
    </div>
    <div class="details">
        <p><strong>ID:&nbsp;</strong>{{maquina._id}}</p>
        <p><strong>Numero:&nbsp;</strong>{{ maquina.numeromaquina }}</p>
        <p><strong>Tipo:&nbsp;</strong>{{ maquina.tipo }}</p>
        <p><strong>Estado:&nbsp;</strong>{{ maquina.estado }}</p>
        <p><strong>Id Empleado:&nbsp;</strong>{{ maquina.idempleado }}</p>
        <a href="/maquinas/editar/{{ maquina._id }}"
            class="btn btn-dark">Editar</a>
        <form action="/maquinas/eliminar/{{ maquina._id }}" method="post"
            style="display:inline;">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}